<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <ul class="nav navbar-nav">
      <li role="presentation"><a href="{{ site.baseurl}}/about">About</a></li>
      <li role="presentation"><a href="https://godoc.org/github.com/quickfixgo/quickfix">Docs</a></li>
      <li role="presentation"><a href="https://github.com/quickfixgo/examples">Examples</a></li>
      <li role="presentation"><a href="http://github.com/quickfixgo/quickfix">Contribute</a></li>
    </ul>
  </div>
</nav>
