<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        {% include header.html %}
      </div>
      <div class="row">
        {{ content }}
      </div>
      <div class="row">
        {% include footer.html %}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{"/assets/js/bootstrap/3.3.6/bootstrap.min.js" | prepend: site.baseurl}}"/></script>
  </body>
</html>
